__pycache__
.vscode
todo.*
node_modules
venv
package-lock.json
package.json

sherpa/build
sherpa/tsc/node_modules
sherpa/tsc/.vscode
sherpa/old/lab-guide-farm/mongo-db

pigeoneer/config.json
pigeoneer/extras/*
pigeoneer/.env

misc/.env
misc/atlas-starter.py